ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

ul a{
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    border-radius: 10px;
}

ul a:hover{
    background-color: rgb(0, 255, 179);
}

nav{
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: rgb(177, 255, 177);
}